.subscription-success{
    color: red;
}

.formMainDiv{
    background: #ffffff;
    padding: 35px;
    border-radius: 15px;
}
.loginLogoutIcon{
    font-weight: 600;
    color: #ffffff !important;
}

.toster{
    position: absolute;
    right: 10px;
    top: 13px;
    padding: 0.4rem 1rem;
    border-radius: 8px;
    transition: all 2s linear;
}
.errorMsg{
    color: red;
    font-size: 0.8rem;
}
.formHead{
    color: #3b5d50;
    font-size: 2rem;
    padding: 20px;
    text-align: center;
    font-weight: 600;
}
.startingFormLink{
    display: flex;
    align-items: end;
    gap: 20px;
    justify-content: right;
}
.cartItem{
    background-color: red;
    position: relative;
    left: -5px;
    top: -12px;
}

/* pagination */
.pagination {
    display: inline-block;
  }
  
  .pagination a , .paginateNext {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #b3b2b2;
    margin: 0 4px;
    border-radius: 5px;
  }
  
  .pagination a.active {
    background-color: #3b5d50;
    color: white;
    border: 1px solid #3b5d50;
  }
  
  .pagination a:hover:not(.active) {background-color: #ddd;}

  .post-entry{
    background-color: #fff;
    padding: 10px;
    border-radius: 10px
  }
  .views-count{
    color: rgb(124, 124, 124);
    font-size: 12px;
    margin-bottom: 5px;
    font-weight: 600;
  }
  .course-entry h3{
    line-height: 25px;
  }
  .course-entry h3 a:hover{
    color: rgb(247, 94, 5);
  }
  .course-entry{
    position: relative;
  }
  .course-category{
    font-size: 12px;
  }

  .course-amount{
    font-size: 1.8rem;
    position: absolute;
    right: 15px;
    bottom: 20px;
    color: #3b5d50;
    font-weight: 600;
  }
  .course-free-btn{
    position: absolute;
    right: 15px;
    bottom: 20px;
  }

  .course-entry .meta{
    padding-bottom: 20px;
  }
  .best-selller{
    position: absolute;
    top: 30px;
    right: 0px;
    z-index: 90;
  }
  .premium-course-badge{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 90;
  }
  .course-template{
    width: 100%;
    height: 160px;
  }

  .best-selller span ,.best-selller div{
    text-transform: uppercase;
    background-color: orangered;
    color: #ffffff;padding: 5px 10px;
    padding: 13px;
    font-weight: 600;
  }

  .selller-arrow{
    transform: rotate(43deg);
    width: 30px;
    height: 30px;
    position: absolute;
    top: -1px;
    left: -15px;
  }